@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1030px !important;
  }
}

.navbar-default {
	background-image: linear-gradient(to bottom,#fc3c0599 0,#fc3c05 150%) !important;
	color: #000000 !important;
}

.navbar-default .navbar-nav>li>a {
	color: #000000 !important;
}

.navbar-default .navbar-nav>.active>a {
	background-image: linear-gradient(to bottom,#fc3c057d 0,#fc3c05 230%) !important;
	color: #3a3a3a !important;
}

.navbar-default .navbar-brand {
    color: #000000 !important;
}

.container_main {
	padding-bottom: 100px;
}

body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center
}

.footer {
	padding-top: 6px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f0f0f0;
	color: black;
	text-align: center;
	height: 35px;
}

.container_main {
	padding-bottom: 100px;
}

.donateBtn {
	padding-top: 50px;
}
	
.search-filter {
   font-weight: bold;
}

.rate-checked {
  color: orange;
}

.post-all {
	padding-top: 40px;	
}

.post-title {
	font-size: 36px;
	font-family: oswald,sans-serif;
}

.post-address {
	font-size: 14px;
	padding-top: 10px;
}

.post-date {
	font-size: 14px;
	padding-top: 3px;
}

.post-stars {
	padding-top: 6px;
}

.post-content {
	padding-top: 15px;	
	font-family: 'pt serif',serif;
    font-size: 20px;
}

.pics-group {
	padding-top: 20px;	
}

.post-pic { 
	object-fit: cover;
	border-radius: 10px 10px 10px 10px;
	height:23%; 
}

.icons-group {
	padding-top: 20px;	
	padding-bottom: 100px;
	display:inline-flex;
	flex-direction: row-reverse;
}

.icons-unit {
	padding-left:10px;
	padding-right:10px
}

.post-icons {
	font-size: 1.5em;
}

.post-summary {
	padding-top: 50px;
	text-align: center;
}

.most-recent {
	padding-bottom: 50px;
	padding-left: 0px!important;
	color: #ff4200;
	font-family: Oswald,sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
	border-top: 6px solid #ff4200!important;
}

.recent-post {
	font-size: 28px;
	font-family: oswald,sans-serif;
	padding-bottom: 50px;
	text-align: center;
}

.recent-post-pic { 
	object-fit: cover;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer; 
}

.li-pagination {
	cursor: pointer;
}

.sort-by-box {
	text-align-last: end;
}

.pagination-box {
	text-align-last: end;
}

.list-title {
	padding-bottom: 50px
}

.starter-list-template {
	padding: 0px 15px;
	text-align: center
}